---
import Layout from "../layouts/Layout.astro";
import Kits from "../components/Kits.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Equipaciones">
    <div class="gap-y-4 flex flex-col w-full">
        <Kits />
    </div>
</Layout>