---
import Pose from '../components/Pose.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout tittle="Web Oficial del NF Pirowen">
	<main class="px-4 flex-1">
		<Pose/>
	</main>
</Layout>