---
import bannerImg from '../assets/Banner.png';
---

<div class="px-4 relative w-full max-h-[350px] overflow-hidden">
  <img 
    src={bannerImg.src} 
    alt="Banner" 
    class="w-full h-full object-cover" 
  />
</div>