---
import bannerImg from '../assets/Banner.jpeg';
---

<div class="w-full">
  <img 
    src={bannerImg.src} 
    alt="Banner" 
    class="w-full object-cover max-h-[400px]" 
    loading="lazy"
  />
</div>