---
const posiciones = ["PORTEROS", "DEFENSAS", "CENTROCAMPISTAS", "DELANTEROS"]

const jugadores = [
    {
        nombre: "Pichu",
        edad: 22,
        posicion: "CENTROCAMPISTAS",
        dorsal: "10",
        piernaBuena: "Derecha",
        descripcion: "Lorem ipsum",
        imgUrl: ""
    },
    {
        nombre: "Pablo",
        edad: 21,
        posicion: "CENTROCAMPISTAS",
        dorsal: "47",
        piernaBuena: "Izquierda",
        descripcion: "Lorem ipsum",
        imgUrl: ""
    },
    {
        nombre: "FLK",
        edad: 23,
        posicion: "CENTROCAMPISTAS",
        dorsal: "11",
        piernaBuena: "Izquierda",
        descripcion: "Lorem ipsum",
        imgUrl: ""
    },
    {
        nombre: "Alex",
        edad: 24,
        posicion: "DEFENSAS",
        dorsal: "33",
        piernaBuena: "Derecha",
        descripcion: "Lorem ipsum",
        imgUrl: ""
    },
    {
        nombre: "Quiños",
        edad: 22,
        posicion: "CENTROCAMPISTAS",
        dorsal: "69",
        piernaBuena: "Izquierda",
        descripcion: "Lorem ipsum",
        imgUrl: ""
    },
    {
        nombre: "Guille",
        edad: 22,
        posicion: "CENTROCAMPISTAS",
        dorsal: "6",
        piernaBuena: "Izquierda",
        descripcion: "Lorem ipsum",
        imgUrl: ""
    },
    {
        nombre: "Veloso",
        edad: 24,
        posicion: "DEFENSAS",
        dorsal: "16",
        piernaBuena: "Izquierda",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Borja",
        edad: 23,
        posicion: "DELANTEROS",
        dorsal: "24",
        piernaBuena: "Derecha",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Franitus",
        edad: 23,
        posicion: "DELANTEROS",
        dorsal: "99",
        piernaBuena: "Derecha",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Anibal",
        edad: 23,
        posicion: "DELANTEROS",
        dorsal: "9",
        piernaBuena: "Derecha",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Dami",
        edad: 22,
        posicion: "DEFENSAS",
        dorsal: "7",
        piernaBuena: "Derecha",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Fuentes",
        edad: 23,
        posicion: "DEFENSAS",
        dorsal: "8",
        piernaBuena: "Derecha",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Brais",
        edad: 23,
        posicion: "DEFENSAS",
        dorsal: "14",
        piernaBuena: "",
        descripcion: "",
        imgUrl: ""
    },
    {
        nombre: "Roxo",
        edad: 23,
        posicion: "PORTEROS",
        dorsal: "18",
        piernaBuena: "Derecha",
        descripcion: "",
        imgUrl: ""
    }
]

---
<div class="w-full flex flex-col items-center">
    <h1 class="text-5xl font-bold p-4">NF PIROWEN</h1>
    <div class="bg-white lg:w-9/12 flex items-center flex-col justify-center rounded-lg mb-4">
        {posiciones.map((posicion) => {
            return (
                <div class="flex gap-4 flex-col items-center">
                    <h1 class="text-3xl font-bold text-[#222222] p-2">{posicion}</h1>
                    <div class="grid grid-cols-1 lg:grid-cols-3 justify-items-center mb-4 gap-4">
                        {jugadores.map((jugador) => {
                            if (jugador.posicion === posicion) {
                                return (
                                        <div class="bg-[#6f4695] w-[400px] shadow-md flex flex-col-reverse h-96 text-center">
                                            <div class="w-full">
                                                <h1 class="numeros text-8xl">{jugador.dorsal}</h1>
                                                <h2 class="uppercase text-4xl p-2">{jugador.nombre}</h2>
                                            </div>
                                        </div>
                                )
                            }
                        })}
                    </div>
                </div>
            )
        })}
    </div>
</div>


<style>
    .numeros {
		font-family: 'Anton', sans-serif;
		color: #fff;
		text-align: center;
        opacity: 0.2;
	}
</style>