<div>
  <h1>POSE GAY</h1>
  <p>moito gay</p>
</div>

<style>
  @reference "tailwindcss";

  div {
    @apply mx-auto max-w-3xl text-center pt-4;
  }

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}
</style>