---
const props = {...Astro.props}
---
<div class="w-16">
    <div class="bg-[#6e4695] w-16 flex text-center px-2 rounded-md">
        <p class="lg:text-xl font-bold w-32">{props.resultado}</p>
    </div>

</div>