---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NF Pirowen</title>
	  
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>

	<body>
		<slot />
		<footer>
			<p> © 2025 NF Pirowen. <a href="https://github.com/NF-Pirowen-Tech/nf-pirowen-web" class="underline hover:text-white">Ver en GitHub</a></p>	
		</footer>
	</body>
</html>

<style>
	@reference "tailwindcss";
	
	html {
		color: #fff;
  		background-color: #111;
  		font-family: system-ui, sans-serif;
	}
	body {
		@apply flex flex-col min-h-screen;
	}
	footer {
		@apply text-center text-sm text-gray-400 py-4 border-t border-gray-700;
	}
</style>
